<div class="studentProfilePage">
  <div class="studentProfileContainer">
    <form action="#" method="post">
      <div class="keyValueContainer">
        <div class="key">Name :</div>
        <div class="value"><%= company.name %></div>
      </div>
      <div class="keyValueContainer">
        <div class="key">Date Of Interview :</div>
        <div class="value"><%= company.DateOfInterview %></div>
      </div>
      <div class="keyValueContainer">
        <div class="key">Student Participated :</div>
        <div class="value">
          <ol>
            <% company.studentParticipatedList.forEach((studentId)=>{ %> <%
            studentList.forEach((student)=>{ %> <% if(studentId == student.id){
            %>
            <li><%= student.name %></li>

            <% } %> <% }) %> <% })%>
          </ol>
        </div>
      </div>
      <div class="keyValueContainer">
        <div class="key">student selected :</div>
        <div class="value">
          <ol>
            <% company.studentSelected.forEach((studentId)=>{ %> <%
            studentList.forEach((student)=>{ %> <% if(studentId == student.id){
            %>
            <li><%= student.name %></li>

            <% } %> <% }) %> <% })%>
          </ol>
        </div>
      </div>
      <div class="keyValueContainer">
        <div class="key">student On Hole :</div>
        <div class="value">
          <ol>
            <% company.studentOnHold.forEach((studentId)=>{ %> <%
            studentList.forEach((student)=>{ %> <% if(studentId == student.id){
            %>
            <li><%= student.name %></li>

            <% } %> <% }) %> <% })%>
          </ol>
        </div>
      </div>

      <button id="edit">Edit</button>
    </form>
  </div>
</div>
